#search{
    display:block;
    text-align:center;
}

.navbar {
    min-height: 60px;
  }
  /* .dataTables_filter, .dataTables_info { display: none; } */
  .dataTables_filter { display: none; } 

  .form-group{
      margin-bottom: 0 !important;
  }


  .exportExcel{
    display: block !important;
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
    cursor: pointer;
  }
